@charset "utf-8";

#slider{ width: 100%; min-width: 320px; max-width: 640px;  overflow: hidden; position: relative; background: #fff; margin: 0 auto; z-index: 10}
#slider ul{ position: relative; margin: 0; padding: 0; z-index: 11}
#slider ul li{ background-color: #fff; position: absolute; left: 0; top: 0;}
#slider li img{ width: 100%; overflow: hidden; display: block; }
#slider .s-btn{ width: 100%; position: absolute; bottom: 10px; left: 0; text-align: right; overflow: hidden;  padding-right: 20px; z-index: 12}
#slider .s-btn span{ width: 8px; height: 8px; border-radius: 4px; background: rgba(0,0,0,.3); margin: 0 4px; display: inline-block;}
#slider .s-btn span.active{ background-color: #fff;}

.middle-nav{ background: #fff; margin-bottom: 10px;}
.middle-nav li{ width: 33.333333%; float: left; text-align: center; border-left: 1px solid #eee; padding: 12px 0}
.middle-nav li:first-child{ border-left: 0 none;  }
.middle-nav li img{ width: 33px; display: inline-block; }
.middle-nav li a span{ font-size: 12px; color: #626262; }

.tabs{ background: #fff; height: 42px; overflow: hidden; border-bottom: 1px solid #ececec; }
#tabs li{ width: 22%; float: left; position: relative; height: 42px; text-align: center; }
#tabs li:after{ content: ""; width: 0; height: 15px; border-left: 1px solid #ececec; position: absolute; left: 0; top: 14px;}
#tabs li:first-child:after{ display: none }
#tabs li a{ display: block; height: 100%; line-height: 42px; font-size: 14px; color: #626262; }
#tabs li.cur a{ color: #fe6672; }

.items{ background: #fff; position: relative; overflow: hidden;}
.items .itemlist{ min-height: 450px; }
.itemlist.toload:after{ content: "加载中..."; width: 54px; padding-top: 35px; height: 25px; line-height: 25px; font-size: 12px; color: #acacac; text-align: center; background: url(../images/loading_logo.gif) top center no-repeat; background-size: 35px auto; position: absolute; left: 50%; margin-left: -27px; top: 48px; }
.item{ padding: 10px 20px; border-bottom: 1px solid #ececec}
.item a{ display: block }
.item .p-img{ width: 78px; height: 78px; float: left; }
.item .p-img img{ max-width: 78px;  max-height: 78px; }
.item .p-msg{ margin-left: 90px; }
.item .p-msg dt{ font-size: 15px; color: #626262; }
.item .p-msg dd{ color: #acacac; font-size: 11px; }
.item .p-msg dd.time{ margin-top: 3px; }
.item .p-msg dd .icon-time{ font-size: 10px; color: #fe6672; margin-right: 3px;}
.item .p-msg dd .icon-s{ float: right; }
.item .p-msg dd.price{ color: #fe6672; font-size: 18px; line-height: 25px; font-weight: 700; }
.item .p-msg dd.price em{ font-style: normal; font-size: 12px; color: #fe6672; }
.item .p-msg dd.price small{ font-size: 10px; color: #acacac; text-decoration: line-through; margin-left: 4px; font-weight: normal; }
.item .p-msg dd.price strong{ float: right; font-size: 11px; color: #acacac; font-weight: normal; }
.item .p-msg dd.price .icon{ font-size: 10px; color: #e5e5e5; margin-right: 3px; }
.loading{ background: #eee; height: 44px; line-height: 24px; padding: 10px 0; text-align: center; font-size: 14px; color: #b1b1b1; display: none}
.loading .icon-loading{ display: inline-block; width: 15px; height: 15px; background: url(../images/loading.gif) no-repeat; background-size: 15px auto; vertical-align: middle; margin-right: 5px; }


#cityPage{ width: 100%; position: absolute; left: 0; top: 0; transform: translate(0, -100%); background: #fff; z-index: 499; padding-top: 49px;}
#cityPage.ani{transition: all .3s ease-in-out;}
#cityPage article h4{ height: 42px; line-height: 42px; padding: 0 20px; background: #fff; font-size: 12px; font-weight: 600; color: #fe6672; border-bottom: 2px solid #ececec;}
#cityPage article p{ padding: 13px 20px 3px; border-bottom: 2px solid #ececec;}
#cityPage article p span{ font-size: 12px; color: #acacac; margin-left: 3px; margin: 0 10px 10px 0; display: inline-block;}
#cityPage article p a,
#cityPage article p strong{ display: inline-block; margin: 0 10px 10px 0; height: 24px; line-height: 22px; font-size: 11px; color: #626262; padding: 0 14px; border: 1px solid #ececec; -webkit-border-radius: 4px; }
#cityPage .cities .tab{ font-size: 12px; padding: 0 20px; background: #f5f5f5; color: #acacac; height: 15px; line-height: 15px;}
#cityPage .cities p{ position: relative; padding: 0 64px 0 0; margin: 0 20px; border-bottom: 1px solid #ececec; height: 44px; line-height: 44px; font-size: 12px; color: #acacac;}

/* updateAt 2016-08-23 */
.letter-nav{  width: 30px; overflow: auto; margin: auto; position: fixed; top: 0; bottom: 0; right: 0; z-index: 999;}
.letter-nav a{ display: block; width: 30px; height: 20px; text-align: center; line-height: 20px; font-size: 13px; color: #666}
html, body{ transition: scrollTop .2s ease-in-out; }

footer a{ float: left; width: 33.333333%; text-align: center; color: #7d7d7d; position: relative;}
footer a .icon{ display: block; padding-top: 8px; }
footer a span{ display: block; height: 25px; line-height: 25px; font-size: 10px;  text-align: center;}
footer a.cur{ color: #fe6672 }
footer a.remind:after{ content: ""; width: 10px; height: 10px; border-radius: 5px; background: #fe6672; position: absolute; left: 50%; margin-left: 11px; top: 6px; }

